@tailwind base;
@tailwind components;
@tailwind utilities;

@import './font.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.nav-link{
  position: relative;
  padding: 20px 0px;
}
.nav-link::before {
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: #D1D6DB;
}
.nav-link::before {
  width: 0%;
  bottom: 10px;
}
.nav-link:hover::before {
  width: 100%;
}
.twitter--brand {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #1DA1F2;
}